.card__media {
    position:relative;
    max-width: 300px;
    margin: 25px;
    border-radius: 10px 10px; 
}
.card__media   {
    width:100%;
    vertical-align:top;
}
.card__media:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:hsl(178, 100%, 50%);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-radius: 10px 10px; 
}
.card__media::before {
    content:url('../../../images/icon-view.svg');
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.card__media:hover:after {
    opacity:0.5;
}
.card__media:hover::before {
    opacity:1;
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    .card__media {
        max-width: calc(100% - 40px);
    }   
}

