.card__title {
    font-weight: 600;
    margin: 0;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.card__title:hover {
    color: hsl(178, 100%, 50%);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}